<div class="sidebarPanel" id="sideMainPanel">
    <div class="sidePanelTitle">
        <label><a href="<%= basePath %>/admin"><%= sidePanelTitle %></a></label>
    </div>
    <div class="sidePanelMenu" id="sidePanelMainMenu" open="true">
        <ul>
            <li><a href="<%= basePath %>/admin/application" id="link_app"><%= translations['application'] %></a></li>
            <li><a href="<%= basePath %>/admin/table" id="link_table"><%= translations['table'] %></a></li>
            <li><a href="<%= basePath %>/admin/query"><%= translations['クエリ'] %></a></li>
            <li><a href="<%= basePath %>/admin/script"><%= translations['スクリプト'] %></a></li>
        </ul>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
    });
</script>