<div class="center-panel application-panel">
    <div class="panel-head">
        <h2 class="panel-caption" >アプリケーション: <%= targetApplication %></h2>
        <ul class="tab-holder">
            <li class="tab" id="overview" selected="true">概要</li>
            <li class="tab" id="tables">テーブル</li>
            <li class="tab" id="scripts">スクリプト</li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="centerView-holder">
            <%- include('./applicationPanel/overviewView.ejs') %>
            <%- include('./applicationPanel/tablesView.ejs') %>
            <%- include('./applicationPanel/scriptsView.ejs') %>
        </div>
    </div>
</div>
<%- include('./applicationPanel/applicationPanelScript.ejs') %>