<div id="centerPanel">
    <%
        try {
            // バリデーション - 必要なパラメータをチェック
            if (!params || !params.path) {
                throw new Error('パラメータが不足しています');
            }
            
            let path = params.path[0];
            let targetObject = params.path[1];
            
            // デバッグ情報
            console.log(`centerPanel.ejsのレンダリング - path: ${path}, targetObject: ${targetObject}`);
              switch (path) {
                case 'table':
                    // テーブルパネルのパラメータ確認
                    if (!tableTranslations) {
                        console.warn('tableTranslationsが渡されていません。デフォルト値を使用します。');
                        tableTranslations = {
                            'data': 'データ',
                            'definition': '定義',
                            'REST': 'REST',
                            'Data View': 'データビュー',
                            'テーブル定義': 'テーブル定義'
                        };
                    }
                    
                    if (!targetObject) {
                        // テーブル一覧を表示
            %>
                <%- include('./tableListPanel.ejs', { 
                    params: params,
                    tableTranslations: tableTranslations,
                    basePath: typeof basePath !== 'undefined' ? basePath : ''
                }); %>
            <%
                    } else {
                        // 特定のテーブルを表示
            %>
                <%- include('./tablePanel.ejs', { 
                    targetTable: targetObject, 
                    params: params,
                    tableTranslations: tableTranslations,
                    basePath: typeof basePath !== 'undefined' ? basePath : ''
                }); %>
            <%
                    }
                    break;
                case 'application':
                    if (!targetObject) {
                        // アプリケーション一覧を表示
            %>
                <%- include('./applicationListPanel.ejs', { 
                    params: params,
                    basePath: typeof basePath !== 'undefined' ? basePath : ''
                }); %>
            <%
                    } else {
                        // 特定のアプリケーションを表示
            %>
                <%- include('./applicationPanel.ejs', { 
                    targetApplication: targetObject, 
                    params: params,
                    basePath: typeof basePath !== 'undefined' ? basePath : ''
                }); %>
            <%
                    }
                    break;
                case 'script':
                    if (!targetObject) {
                        // スクリプト一覧を表示
            %>
                <%- include('./scriptListPanel.ejs', { 
                    params: params,
                    basePath: typeof basePath !== 'undefined' ? basePath : ''
                }); %>
            <%
                    } else {
                        // 特定のスクリプトを表示
            %>
                <%- include('./scriptPanel.ejs', { 
                    targetScript: targetObject, 
                    params: params,
                    basePath: typeof basePath !== 'undefined' ? basePath : ''
                }); %>
            <%
                    }
                    break;
                case 'query':
                    if (!targetObject) {
                        // クエリ一覧を表示
            %>
                <%- include('./queryListPanel.ejs', { 
                    params: params,
                    basePath: typeof basePath !== 'undefined' ? basePath : ''
                }); %>
            <%
                    } else {
                        // 特定のクエリを表示
            %>                <%- include('./queryPanel.ejs', { 
                    targetQuery: targetObject, 
                    params: params,
                    basePath: typeof basePath !== 'undefined' ? basePath : ''
                }); %>
            <%
                    }
                    break;
                default:
                    // 何も表示しない
                    break;
            }
        } catch (err) {
            // エラーハンドリング
            console.error('centerPanel.ejsのレンダリングエラー:', err);
    %>
            <div class="error-panel">
                <h3>レンダリングエラー</h3>
                <p><%= err.message %></p>
            </div>
    <%
        }
    %>
</div>