<%# クエリ情報表示パネル %>
<div class="center-panel query-panel">
    <div class="panel-head">
        <h2 class="panel-caption">クエリ: <%= targetQuery %></h2>
        <ul class="tab-holder">
            <li class="tab" id="overview" selected="true">概要</li>
            <li class="tab" id="sql">SQL</li>
            <li class="tab" id="execute">実行</li>
            <li class="tab" id="logs">ログ</li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="centerView-holder">
            <%- include('./queryPanel/overviewView.ejs') %>
            <%- include('./queryPanel/sqlView.ejs') %>
            <%- include('./queryPanel/executeView.ejs') %>
            <%- include('./queryPanel/logsView.ejs') %>
        </div>
    </div>
</div>
<%- include('./queryPanel/queryPanelScript.ejs') %>