<div class="center-panel script-panel">
    <div class="panel-head">
        <h2 class="panel-caption">スクリプト: <%= targetScript %></h2>
        <ul class="tab-holder">
            <li class="tab" id="overview" selected="true">概要</li>
            <li class="tab" id="editor">エディタ</li>
            <li class="tab" id="execute">実行</li>
            <li class="tab" id="logs">ログ</li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="centerView-holder">
            <%- include('./scriptPanel/overviewView.ejs') %>
            <%- include('./scriptPanel/editorView.ejs') %>
            <%- include('./scriptPanel/executeView.ejs') %>
            <%- include('./scriptPanel/logsView.ejs') %>
        </div>
    </div>
</div>
<%- include('./scriptPanel/scriptPanelScript.ejs') %>