<div class="center-panel table-panel">
    <div class="panel-head">
        <h2 class="panel-caption">テーブル: <%= targetTable %></h2>
        <ul class="tab-holder">
            <li class="tab" id="data" selected="true">データ</li>
            <li class="tab" id="definition">定義</li>
            <li class="tab" id="rest">REST</li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="centerView-holder">
            <%- include('./tablePanel/dataView.ejs', { targetTable: targetTable, basePath: basePath }) %>
            <%- include('./tablePanel/definitionView.ejs') %>
            <%- include('./tablePanel/restView.ejs') %>
        </div>
    </div>
    <%- include('./tablePanel/tablePanelScript.ejs', { targetTable: targetTable, basePath: basePath }) %>
</div>