<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- pageTitle %></title>
    <link rel="stylesheet" href="/theme/style.css">
</head>

<body>
    <div id="top">
        <%- startButton %>
            <%- topBar %>
    </div>
    <div id="body">
        <div id="left" open="true">
            <%- sidebarPanel %>
        </div>

        <div id="center" open="true">
            <div id="centerPanel">
            </div>
        </div>
    </div>
    <div id="footer">
        <%- footer %>
        <span id="message"></span>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        bindSidePanel('left');
        bindCenterPanel('center');
    });

    async function fireEvent(eventType, parameters) {
        let message = document.getElementById('message');
        switch (eventType) {
            case 'table':
                message.textContent = `テーブル ${parameters.table} を選択しました。`;
                const centerPanelBody = await fetch(`/pageRenderer/centerPage/table/${parameters.table}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then((response) => {
                    return response.text();
                }).then((html) => {
                    document.getElementById('centerPanel').innerHTML = html;
                });
                break;
            case 'query':
                message.textContent = 'クエリを実行しました。';
                break;
            case 'script':
                message.textContent = 'スクリプトを実行しました。';
                break;
        }
    }
</script>

</html>