<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- pageTitle %></title>
    <link rel="stylesheet" href="/theme/style.css">
</head>
<script>
    async function getl10n(tagId) {
        var tag = document.getElementById(tagId);
        if (tag) {
            let dst = await fetch('/api/models/l10n?src=' + tag.innerText);
            let dstJson = (await dst.json()).data;
            if(dstJson.length > 0) {
                tag.innerText = dstJson[0].dst;
            }
        }
    }

</script>
<body>
    <div id="top">
        <%- startButton %>
        <%- topBar %>
    </div>
    <div id="body">
        <div id="left" open="true">
            <%- sidebarPanel %>
        </div>

        <div id="center" open="true">
            <%- centerPanel %>
        </div>
    </div>
    <div id="footer">
        <%- footer %>
        <span id="message"></span>
    </div>
</body>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        bindSidePanel('left');
        bindCenterPanel('center');
    });

</script>

</html>