<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サンプルページ</title>
    <link rel="stylesheet" href="/theme/style.css">
</head>

<body>
    <div id="top">
        <%- include('../controls/startButton/startButton.ejs') %>
        <%- include('../controls/topBar/topbar.ejs') %>
    </div>
    <div id="body">
        <div id="left" open="true">
            <div class="sidePanelTitle">
                <label>システム</label>
            </div>
            <div class="sidePanelTitle">
                <label>マイドメイン</label>
            </div>
            <%- include('../controls/projects/projectSidePane.ejs') %>
        </div>

        <div id="center" open="true">
            <%
                switch(path[0]){
                    case 'projects':
            %>
                        <%- include('../controls/projects/projectPane.ejs') %>
            <%
                    break;
                    default:
            %>
                        <%- include('../controls/404.ejs') %>
            <%
                }
            %>
        </div>
    </div>
    <div id="footer">
        <a href="https://github.com/dtmoyaji/sandbox" target="_blank">SandBox-JS</a>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            bindSidePanel('left');
            bindCenterPanel('center');
        });
    </script>
</body>

</html>